version: '3.8'

services:
  go-real-time-chats:
    build: 
      context: .
      dockerfile: Dockerfile
    image: go-real-time-chats
    container_name: go-real-time-chats
    environment:
      - TZ=UTC
    networks:
      - projects-network
    restart: unless-stopped

networks:
  projects-network:
    external: true