{{ define "index" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Real Time Chats</title>
    <link rel="icon" href="/static/img/favicon.svg"/>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chats.css">
    <link rel="stylesheet" type="text/css" href="/static/css/info.css">
    
</head>
<body translate="no">
    <div id="selector-container">
        <select id="template-selector" hx-get="/load-template" hx-target="#chat-container" hx-trigger="change, load" name="value" >
            <option value="">Выберите метод взаимодействия</option>
            <option value="short-poll">Short polling (HTTP Polling)</option>
            <option value="long-poll">Long polling</option>
            <option value="ws">WebSocket Template</option>
            <option value="sse">Server-Sent Events (SSE)</option>
        </select>
    </div>
    <div id="chat-wrapper">
        <div id="chat-container">
            <!-- Шаблоны чатов -->
        </div>
    </div>
</body>
</html>
{{ end }}