{{ define "info-box" }}
<div class="info-box">
    <h1>Подходы к реализации real-time чатов:</h1>
    <ul>
        <li>Short polling – метод, при котором клиент регулярно отправляет запросы на сервер для проверки наличия новых сообщений</li>
        <li>Long polling - Клиент отправляет запрос на сервер, и сервер держит этот запрос открытым до момента появления новых данных (или истечения таймаута).</li>
        <li>Websocket - представляет собой протокол, позволяющий установить постоянное двунаправленное соединение между клиентом и сервером.</li>
        <li>Server-Sent Events (SSE) - позволяет серверу инициировать отправку данных клиенту через однонаправленное соединение.</li>
    </ul>
</div>
{{ end }}
